.fancy-button {
  background-color: blue;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-raidus: 5px;
  box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.4) inset;
  -webkit-box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.4) inset;
  -moz-box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.4) inset;
}

.fancy-button:hover {
  background-color: darkblue; 
}

.fancy-button:active {
  background-color: red; 
}
